# Application configuration
NODE_ENV=dev
PORT= 3333

# JWT Secret
JWT_SECRET=mangaink-secret

# Database configuration
POSTGRES_DB=mangaink_db
POSTGRES_PORT=5432
POSTGRES_USER=mangaink
POSTGRES_PASSWORD=mangaink
DATABASE_URL="postgresql://mangaink:mangaink@localhost:5432/mangaink_db?schema=public"
